.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg);
    padding-left: 12px;
    padding-right: 12px;
    overflow-y: scroll;
    height: 100vh;
    color: var(--text);
}

.pagination {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .main {
        padding: 2rem;
    }

    .pagination {
        margin-top: 0;
    }
}
